@import 'tailwindcss';

@font-face {
  font-family: 'Fresh Olive';
  src: url('/fonts/fresh_olive/Fresh_Olive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-fresh-olive: 'Fresh Olive', sans-serif;
}
